@import 'reset';
@import 'switcher';
@import 'searchWindow';

/**{
	transition: all 0.2s, color 0s linear 0s;
}*/

body{
	min-height: 100vh;
	width: 100%;
	background: #f3f2f2;
	padding: 70px 0;
	font-family: 'Open Sans', sans-serif;
}

.header{
	margin-bottom: 70px;
	text-align: center;
	text-transform: uppercase;
	padding: 0 15px;
	&__title{
		margin-bottom: 30px;
	}
	&__colorSwitch{
		margin-top: 30px;
	}
}

.genTitle{
	font-size: 24px;
}

.h1{
	font-size: 48px;
	font-weight: 600;
}

.container{
	display: block;
	width: 100%;
	max-width: 1112px;
	margin-left: auto;
	margin-right: auto;
}

/*
	=====================
			scroll
	=====================
*/
.routesItems::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:6px;
	height:0px
}

.routesItems::-webkit-scrollbar-track {
	/*background-color:#32312e; */
	background-color:#f7f7f7;
	/*box-shadow:0px 0px 3px #000 inset; */
}

.routesItems::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#000;
	/*box-shadow:0px 1px 1px #fff inset;
	background-image:url('https://yraaa.ru/_pu/24/59610063.png');
	background-position:center;
	background-repeat:no-repeat; */
}

.routesItems::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px
}

.routesItems::-webkit-scrollbar{
	width: 6px;
}

.appBody{
	height: 500px;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	&__left,
	&__right{
		height: 100%;
		background: #f7f7f7;
	}
	&__left{
		float:left;
		width: 446px;
		position: relative;
		z-index: 1;
	}
	&__right{
		float:right;
		width: 664px;
		div{
			width: inherit!important;
			height: inherit!important;;
		}
	}
}

.routesContent{
	padding: 25px 30px;
	&__search{
		margin-bottom: 30px;
		z-index: 1;
	}
}

.pointer{
	display: block;
	width: 18px;
	height: 40px;
	cursor: pointer;
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><path fill="%23f33" d="M25 14a8.327 8.327 0 0 1-.023.574c-.23 2.896-2.144 5.87-3.853 8.71L18 28.08V21a7 7 0 1 1 7-7z"/><circle cx="18" cy="14" r="3" fill="%23fff"/></svg>');
    background-size: auto 100%;
	background-position: center;
}

.lupa{
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0.4;
	background-image: url('data:image/svg+xml;charset=utf-8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 11a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9m9.207 3.293l-3.963-3.963A6.465 6.465 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13c1.434 0 2.755-.47 3.83-1.256l3.963 3.963a1 1 0 1 0 1.414-1.414"/></svg>');
	background-size: auto 100%;
	background-position: center;
	border: none;
	&:hover{
		opacity: 0.5;
	}
}

.search{
	position: relative;
	ymaps{
		border: none;
		right: 0;
		left: 0;
	}
	&__input{
		height: 50px;
		width: 100%;
		border: none;
		padding-left: 48px; 
		padding-right: 60px;
		font-family: inherit;
		&::placeholder{
			font-family: inherit;
			color: #bab6b6;
		}
	}
	&__pointer{
		position: absolute;
		top: 5px;
		left: 17px;
	}
	&__lupa{
		position: absolute;
		top: 15px;
		right: 17px;
	}
	&__lastSearch{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
	}
}

.routesItems{
	overflow-y: scroll;
	height:calc(100% - 75px);
	padding-right: 10px;
	margin-right: -15px;
	&__item{
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.routeItem{
	background: #fff;
	height: 40px;
	position: relative;
	&__status,
	&__count{
		position: relative;
		display: inline-block;
		width: 35px;
		line-height: 40px;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		float: left;
		&:after{
			content: '';
			display: block;
			width: 1px;
			height: 20px;
			background: #f3f2f2;
			position: absolute;
			top: 10px;
			right: 0;
		}
	}
	&__status{
		height: 100%;
		background-repeat: no-repeat;
		background-size: 55%;
		background-position: center;
		&-error{
			background-image: url('../img/error.png');
		}
		&-loading{
			background-size: 95%;
			background-image: url('../img/loading.gif');
		}
	}
	&__address{
		float: left;
		width: calc(100% - 83px);
		height: 100%;
		font-size: 12px;
		line-height: 40px;
		padding-left:10px;
		border: none;
		outline: none;
		&-input{
			background: #eaeaea;
		}
	}
	&__save,
	&__remove{
		cursor: pointer;
		position: absolute;
		width: 12px;
		height: 12px;
		background: url('../img/close.png') 0 0 no-repeat;
		background-size: 100%;
		top: 14px;
		right: 18px;
	}
	&__save{
		width: 22px;
		height: 22px;
		top: 9px;
		right: 13px;
		background-image: url('../img/save.png');
	}
}

.fixWidthTextField{
	width: 100%;
	height: 100%;
	font: inherit;
	line-height: inherit;
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		display: block;
		width: 10px;
		height: 100%;
		position: absolute;
		top:0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.5);
	    /* IE9, iOS 3.2+ */
	   	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, rgb(255, 255, 255)));
	    /* Android 2.3 */
	    background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 100%);
	    /* IE10+ */
	    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 100%);
	    background-image: -ms-linear-gradient(left,rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 100%);
	}
	&__text{
		display: inline-block;
		font: inherit;
		line-height: inherit;
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;
	}
}



.color-night{
	background: #1d2f39;
	color: #80ccce;
	.appBody{
		&__left, &__right{
			background: #253e4b;
		}
	}
	.search{
		ymaps,
		&__input{
			background: #6c96ad;
			color: #1d2f39;
			font-weight: 600;
			&::placeholder{
				color: inherit;
			}
		}
		.pointer{
			background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><path fill="#1d2f39" d="M25 14a8.327 8.327 0 0 1-.023.574c-.23 2.896-2.144 5.87-3.853 8.71L18 28.08V21a7 7 0 1 1 7-7z"/><circle cx="18" cy="14" r="3" fill="#6c96ad"/></svg>');
		}
	}
	.routesItems{
		&::-webkit-scrollbar-track{
			background: #253e4b;
		}
	}
	.fixWidthTextField {
		&:after {
			background-color: rgba(108, 150, 173, 0.5);
			/* IE9, iOS 3.2+ */
			background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgba(108, 150, 173, 0)),color-stop(1, rgb(108, 150, 173)));
			/* Android 2.3 */
			background-image: -webkit-linear-gradient(left,rgba(108, 150, 173, 0) 0%,rgb(108, 150, 173) 100%);
			/* IE10+ */
			background-image: linear-gradient(to right,rgba(108, 150, 173, 0) 0%,rgb(108, 150, 173) 100%);
			background-image: -ms-linear-gradient(left,rgba(108, 150, 173, 0) 0%,rgb(108, 150, 173) 100%);
		}
	}
	.routeItem{
		background: #6c96ad;
		color: #1d2f39;
		font-weight: 600;
		&__address{
			&-input{
				background: #8fb7cd;
			}
		}
		&__status,
		&__count{
			&:after{
				background: #1d2f39;
			}
		}
		&__status{
			filter: invert(100%) grayscale(0.75);
		}
		&__save,
		&__remove{
			filter: invert(100%);
		}
	}
	.yandexMap div{
		filter: invert(100%) grayscale(.75);
	}
	.searchWindow{
		background: #6c96ad;
		color: #1d2f39;
	}
}

@media (max-width: 1200px){
	.container{
		max-width: 900px;
	}
	.appBody{
		&__left{
			width: 400px;
		}
		&__right{
			width: 498px;
		}
	}
}

@media (max-width: 920px) {
	.h1{
		font-size: 40px;
	}
	.routesItems::-webkit-scrollbar-track{
		background: none;
	}
	.container{
		max-width: 600px;
	}
	.appBody{
		height: auto;
		padding-bottom: 25px;
		&__left{
			width: 100%;
			height: auto;
		}
		&__right{
			width: 100%;
			height: 500px;
			padding-left: 30px;
			padding-right: 30px;
		}
		&__left,
		&__right{
			background: none;
			float: none;
		}
	}
	.color-night{
		.appBody{
			&__left,
			&__right{
				background: none;
			}
		}
	}
	.routesItems{
		max-height: 300px;
		overflow-y: scroll;
	}
}

@media (max-width: 600px) {
	body{
		padding: 40px 0;
	}
	.header{
		margin-bottom: 40px;
	}
	.h1{
		font-size: 35px;
	}
	.genTitle{
		font-size: 18px;
	}
	.appBody{
		&__right{
			height: 65vw;
		}
	}
}