.searchWindow{
	display: block;
	background: #fff;
	padding: 10px 15px;
	color: #6a6565;
	&__title{
		display: block;
		font-size: 14px;
		margin-bottom: 15px;
		font-weight: 600;
	}
	&__item{
		margin-top: 10px;
		height: 20px;
		font-size: 12px;
		cursor: pointer;
		& *:hover{
			text-decoration: underline;
		}
	}
}