.switcher{
	display: inline-block;
	width: 80px;
	height: 45px;
	border-radius: 45px;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	position: relative;
	cursor: pointer;
	transition: 0.2s;
	&-day{
		background: #3bccf6;
	}
	&-night{
		background: #022730;
		box-shadow: 0 0 6px rgba(255,255,255,0.3);
	}
	&-switch{
		.switcher{
			&__icon{
				&-left{
					opacity: 1;
				}
				&-right{
					opacity: 0;
				}
			}
			&__btn{
				left: auto;
				right: 2px;
			}
		}
	}
	&__icon{
		position: absolute;
		transition: 0.2s;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		&-left{
			left: 9px;
			opacity: 0;
		}
		&-right{
			right: 9px;
		}
		&-sun{
			top: 12.5px;
			width: 20px;
			height: 20px;
			background-image: url('../img/sun-switcher.png');
		}
		&-moon{
			top: 14px;
			width: 17px;
			height: 17px;
			background-image: url('../img/moon-switcher.png');
		}
	}
	&__btn{
		display: inline-block;
		width: 41px;
		height: 41px;
		border-radius: 20.5px;
		position: absolute;
		top: 2px;
		left: 2px;
		background: #fff;
		transition: 0.3s;
		&:before{
			content: '';
			display: inherit;
			width: 30px;
			height: 30px;
			border-radius: 15px;
			position: absolute;
			top: 5.5px;
			left: 5.5px;
			box-shadow: inset 0 0 10px rgba(0,0,0,0.18);
		}
	}
}

