/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  background: none;
  padding: 0;
  outline: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.clearInline {
  display: block;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.relative {
  position: relative;
}

.switcher {
  display: inline-block;
  width: 80px;
  height: 45px;
  border-radius: 45px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.switcher-day {
  background: #3bccf6;
}

.switcher-night {
  background: #022730;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.switcher-switch .switcher__icon-left {
  opacity: 1;
}

.switcher-switch .switcher__icon-right {
  opacity: 0;
}

.switcher-switch .switcher__btn {
  left: auto;
  right: 2px;
}

.switcher__icon {
  position: absolute;
  transition: 0.2s;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.switcher__icon-left {
  left: 9px;
  opacity: 0;
}

.switcher__icon-right {
  right: 9px;
}

.switcher__icon-sun {
  top: 12.5px;
  width: 20px;
  height: 20px;
  background-image: url("../img/sun-switcher.png");
}

.switcher__icon-moon {
  top: 14px;
  width: 17px;
  height: 17px;
  background-image: url("../img/moon-switcher.png");
}

.switcher__btn {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 20.5px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  transition: 0.3s;
}

.switcher__btn:before {
  content: '';
  display: inherit;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  top: 5.5px;
  left: 5.5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.18);
}

.searchWindow {
  display: block;
  background: #fff;
  padding: 10px 15px;
  color: #6a6565;
}

.searchWindow__title {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;
}

.searchWindow__item {
  margin-top: 10px;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
}

.searchWindow__item *:hover {
  text-decoration: underline;
}

/**{
	transition: all 0.2s, color 0s linear 0s;
}*/
body {
  min-height: 100vh;
  width: 100%;
  background: #f3f2f2;
  padding: 70px 0;
  font-family: 'Open Sans', sans-serif;
}

.header {
  margin-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px;
}

.header__title {
  margin-bottom: 30px;
}

.header__colorSwitch {
  margin-top: 30px;
}

.genTitle {
  font-size: 24px;
}

.h1 {
  font-size: 48px;
  font-weight: 600;
}

.container {
  display: block;
  width: 100%;
  max-width: 1112px;
  margin-left: auto;
  margin-right: auto;
}

/*
	=====================
			scroll
	=====================
*/
.routesItems::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}

.routesItems::-webkit-scrollbar-track {
  /*background-color:#32312e; */
  background-color: #f7f7f7;
  /*box-shadow:0px 0px 3px #000 inset; */
}

.routesItems::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #000;
  /*box-shadow:0px 1px 1px #fff inset;
	background-image:url('https://yraaa.ru/_pu/24/59610063.png');
	background-position:center;
	background-repeat:no-repeat; */
}

.routesItems::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

.routesItems::-webkit-scrollbar {
  width: 6px;
}

.appBody {
  height: 500px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.appBody__left, .appBody__right {
  height: 100%;
  background: #f7f7f7;
}

.appBody__left {
  float: left;
  width: 446px;
  position: relative;
  z-index: 1;
}

.appBody__right {
  float: right;
  width: 664px;
}

.appBody__right div {
  width: inherit !important;
  height: inherit !important;
}

.routesContent {
  padding: 25px 30px;
}

.routesContent__search {
  margin-bottom: 30px;
  z-index: 1;
}

.pointer {
  display: block;
  width: 18px;
  height: 40px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><path fill="%23f33" d="M25 14a8.327 8.327 0 0 1-.023.574c-.23 2.896-2.144 5.87-3.853 8.71L18 28.08V21a7 7 0 1 1 7-7z"/><circle cx="18" cy="14" r="3" fill="%23fff"/></svg>');
  background-size: auto 100%;
  background-position: center;
}

.lupa {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.4;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 11a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9m9.207 3.293l-3.963-3.963A6.465 6.465 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13c1.434 0 2.755-.47 3.83-1.256l3.963 3.963a1 1 0 1 0 1.414-1.414"/></svg>');
  background-size: auto 100%;
  background-position: center;
  border: none;
}

.lupa:hover {
  opacity: 0.5;
}

.search {
  position: relative;
}

.search ymaps {
  border: none;
  right: 0;
  left: 0;
}

.search__input {
  height: 50px;
  width: 100%;
  border: none;
  padding-left: 48px;
  padding-right: 60px;
  font-family: inherit;
}

.search__input::placeholder {
  font-family: inherit;
  color: #bab6b6;
}

.search__pointer {
  position: absolute;
  top: 5px;
  left: 17px;
}

.search__lupa {
  position: absolute;
  top: 15px;
  right: 17px;
}

.search__lastSearch {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.routesItems {
  overflow-y: scroll;
  height: calc(100% - 75px);
  padding-right: 10px;
  margin-right: -15px;
}

.routesItems__item {
  margin-bottom: 10px;
}

.routesItems__item:last-child {
  margin-bottom: 0;
}

.routeItem {
  background: #fff;
  height: 40px;
  position: relative;
}

.routeItem__status, .routeItem__count {
  position: relative;
  display: inline-block;
  width: 35px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  float: left;
}

.routeItem__status:after, .routeItem__count:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  background: #f3f2f2;
  position: absolute;
  top: 10px;
  right: 0;
}

.routeItem__status {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}

.routeItem__status-error {
  background-image: url("../img/error.png");
}

.routeItem__status-loading {
  background-size: 95%;
  background-image: url("../img/loading.gif");
}

.routeItem__address {
  float: left;
  width: calc(100% - 83px);
  height: 100%;
  font-size: 12px;
  line-height: 40px;
  padding-left: 10px;
  border: none;
  outline: none;
}

.routeItem__address-input {
  background: #eaeaea;
}

.routeItem__save, .routeItem__remove {
  cursor: pointer;
  position: absolute;
  width: 12px;
  height: 12px;
  background: url("../img/close.png") 0 0 no-repeat;
  background-size: 100%;
  top: 14px;
  right: 18px;
}

.routeItem__save {
  width: 22px;
  height: 22px;
  top: 9px;
  right: 13px;
  background-image: url("../img/save.png");
}

.fixWidthTextField {
  width: 100%;
  height: 100%;
  font: inherit;
  line-height: inherit;
  position: relative;
  overflow: hidden;
}

.fixWidthTextField:after {
  content: '';
  display: block;
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  /* IE9, iOS 3.2+ */
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, white));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  /* IE10+ */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
}

.fixWidthTextField__text {
  display: inline-block;
  font: inherit;
  line-height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.color-night {
  background: #1d2f39;
  color: #80ccce;
}

.color-night .appBody__left, .color-night .appBody__right {
  background: #253e4b;
}

.color-night .search ymaps, .color-night .search__input {
  background: #6c96ad;
  color: #1d2f39;
  font-weight: 600;
}

.color-night .search ymaps::placeholder, .color-night .search__input::placeholder {
  color: inherit;
}

.color-night .search .pointer {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><path fill="#1d2f39" d="M25 14a8.327 8.327 0 0 1-.023.574c-.23 2.896-2.144 5.87-3.853 8.71L18 28.08V21a7 7 0 1 1 7-7z"/><circle cx="18" cy="14" r="3" fill="#6c96ad"/></svg>');
}

.color-night .routesItems::-webkit-scrollbar-track {
  background: #253e4b;
}

.color-night .fixWidthTextField:after {
  background-color: rgba(108, 150, 173, 0.5);
  /* IE9, iOS 3.2+ */
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0, rgba(108, 150, 173, 0)), color-stop(1, #6c96ad));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(left, rgba(108, 150, 173, 0) 0%, #6c96ad 100%);
  /* IE10+ */
  background-image: linear-gradient(to right, rgba(108, 150, 173, 0) 0%, #6c96ad 100%);
  background-image: -ms-linear-gradient(left, rgba(108, 150, 173, 0) 0%, #6c96ad 100%);
}

.color-night .routeItem {
  background: #6c96ad;
  color: #1d2f39;
  font-weight: 600;
}

.color-night .routeItem__address-input {
  background: #8fb7cd;
}

.color-night .routeItem__status:after, .color-night .routeItem__count:after {
  background: #1d2f39;
}

.color-night .routeItem__status {
  filter: invert(100%) grayscale(0.75);
}

.color-night .routeItem__save, .color-night .routeItem__remove {
  filter: invert(100%);
}

.color-night .yandexMap div {
  filter: invert(100%) grayscale(0.75);
}

.color-night .searchWindow {
  background: #6c96ad;
  color: #1d2f39;
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  .appBody__left {
    width: 400px;
  }
  .appBody__right {
    width: 498px;
  }
}

@media (max-width: 920px) {
  .h1 {
    font-size: 40px;
  }
  .routesItems::-webkit-scrollbar-track {
    background: none;
  }
  .container {
    max-width: 600px;
  }
  .appBody {
    height: auto;
    padding-bottom: 25px;
  }
  .appBody__left {
    width: 100%;
    height: auto;
  }
  .appBody__right {
    width: 100%;
    height: 500px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .appBody__left, .appBody__right {
    background: none;
    float: none;
  }
  .color-night .appBody__left, .color-night .appBody__right {
    background: none;
  }
  .routesItems {
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media (max-width: 600px) {
  body {
    padding: 40px 0;
  }
  .header {
    margin-bottom: 40px;
  }
  .h1 {
    font-size: 35px;
  }
  .genTitle {
    font-size: 18px;
  }
  .appBody__right {
    height: 65vw;
  }
}
